@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&display=swap');

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}

header,
main {
  width: 80%;
  max-width: 1440px;
  margin: auto;
  padding: 20px 0;
}

nav {
  text-align: right;
  padding: 18px 0;
}

nav a {
  color: #ff6060;
  margin-left: 50px;
}

footer {
  width: 100%;
  height: 209px;
  bottom: 0;
  position: fixed;
  padding: 50px 0;
  background-color: black;
  text-align: center;
  color: white;
}

.housing_wrapper {
  height: 50vh;
  overflow-y: auto;
  background-color: #f6f6f6;
  border-radius: 25px;
}

.error_page {
  text-align: center;
  color: #ff6060;
}

.error_page h1 {
  margin: 0;
  font-size: 288px;
  font-weight: bolder;
}

.error_page h2 {
  margin: 0;
  font-size: 36px;
}

.error_page a {
  display: block;
  margin-top: 75px;
  font-size: 18px;
  color: #ff6060;
}

@media only screen and (width >= 768px) {
  header,
  footer {
    font-size: 24px;
  }
}

@media only screen and (width < 768px) {
  .main_logo {
    height: 47px;
  }

  .error_page h1 {
    font-size: 96px;
  }

  .error_page h2 {
    font-size: 18px;
  }

  .error_page a {
    font-size: 14px;
  }

  nav a {
    margin-left: 25px;
  }
}

@media only screen and (width <= 425px) {
  header,
  footer {
    font-size: 12px;
  }

  header {
    text-transform: uppercase;
  }

  nav {
    padding: 15px 0;
  }

  .main_logo {
    height: 40px;
  }
}

@media only screen and (width < 375px) {
  nav {
    padding: 8px;
  }

  nav a {
    margin-left: 12px;
  }

  .main_logo {
    height: 30px;
  }
}
