@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Shrikhand&display=swap');

header {
  display: flex;
  justify-content: space-between;
}

nav {
  text-align: right;
  padding: 16px 32px;
}

nav a {
  color: #ff6060;
  margin-right: 16px;
}
